# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env

# Node
node_modules/
frontend/build/
build/
dist/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Output
backend/output/
backend/certs/
output/

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Project specific
backend/PIL/ 
backend/bs4/
backend/cffi/
backend/charset_normalizer/
backend/cryptography/
backend/pdfminer/
backend/pdfplumber/
backend/pycparser/
backend/pypdfium2/
backend/pypdfium2_raw/
backend/soupsieve/
